.blog
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.card-img-bottom{border-radius: 0px;}
h2{margin-bottom: 1.5rem;}
@media screen and (max-width: 760px) and (min-width: 240px) 
{
    .blog{flex-direction: column;}
    .card{margin-bottom: 20px;}
    .blue{text-align: center !important}
}
.article-title{font-size: 22px;margin-bottom: 0px;}
.thin-line
{
    background-color: #565554d9;
    border: none !important;
    border-radius: 7px 7px 7px 7px;
    height: 3px !important;
    width: 53px !important;
}
.np{padding:0px}
.cont{width:94%;margin:0px auto}
.card{padding: 0px;box-shadow: 0px 7px 7px 0px #04040424;}