<div class="container-fluid cont p-40">
    <div class="row">
        <div class="col-sm-3">
            <h2 class="blue">Blogs</h2>
            <p>We’re here to keep you up-to-date with all the latest happenings at the safety solution, and with our
                people</p>
        </div>
        <div class="col-sm-9">
            <h2 class="orange cont-middle">Latest Articles</h2>
            <!--Blog content column start-->
            <div class="blog">
                <!--column1 start-->
                <div class="card col-sm-3 col-xs-12">
                    <img class="card-img-bottom" src="../../assets/images/blogs/biometric2.jpg" alt="Card image"
                        style="width:100%">
                    <div class="card-body">
                        <p class="card-text">We’re here to keep you up-to-date with all the latest happenings at the
                            safety solution, and with our people</p>
                    </div>
                </div>
                <!--column1 end-->
                <!--column2 start-->
                <div class="card col-sm-3 col-xs-12">
                    <img class="card-img-bottom" src="../../assets/images/blogs/biometric2.jpg" alt="Card image"
                        style="width:100%">
                    <div class="card-body">
                        <p class="card-text">We’re here to keep you up-to-date with all the latest happenings at the
                            safety solution, and with our people</p>
                    </div>
                </div>
                <!--column2 end-->
                <!--column3 start-->
                <div class="card col-sm-3 col-xs-12">
                    <img class="card-img-bottom" src="../../assets/images/blogs/biometric2.jpg" alt="Card image"
                        style="width:100%">
                    <div class="card-body">
                        <p class="card-text">We’re here to keep you up-to-date with all the latest happenings at the
                            safety solution, and with our people</p>
                    </div>
                </div>
                <!--column3 end-->
            </div>
            <!--Blog content column end-->
        </div>




    </div>
</div>

<div class="row bg_orange">
        <div class="container-fluid p-40">
            <div class="col-md-10 offset-md-1">
                    <app-testimonials></app-testimonials>
            </div>
        </div>
</div>