<div class="container p-40">
    <h2 class="p-40 orange cont-middle">Our Clients</h2>
        <div class="row team">
            <img src="../../assets/images/clients/aol.png">
            <img src="../../assets/images/clients/axis.png">
            <img src="../../assets/images/clients/dbs.png">
            <img src="../../assets/images/clients/dlf.png">
        </div>
        <div class="row team">
                <img src="../../assets/images/clients/godrej.png">
                <img src="../../assets/images/clients/microsoft.png">
                <img src="../../assets/images/clients/prestige.png">
                <img src="../../assets/images/clients/unitech.png">
        </div>
        <hr>
</div>