<div class="container-fluid bg_orange">
    <div class="container p-40">
        <h2 class="cont-middle white">About Us</h2>
        <div class="col-md-6 offset-md-3"><p class="cont-middle">At OyeSpace, we have built an easy to use suite for technology solution-founded in the values of Intelligence, agility, and affordability for all your property needs.</p></div>
       <hr>
    </div>
</div>

<div class="container p-40">
        <div class="row team">
            <img src="../../assets/images/Sunil_Sir_img300DPI.png">
            <img src="../../assets/images/ram-sir1[1].png">
            <img src="../../assets/images/Sunil_Sir_img300DPI.png">
        </div>
</div>

