<div class="container-fluid">
        <div class="container p-40">
                <h2 class="cont-middle orange">Locations</h2>
                <div class="col-md-12">
                        <p class="cont-middle">You can find us at any of our offices in the following cities, we are
                                waiting you to visit us :)</p>
                </div>
        </div>
</div>

<div class="row">
        <div class="col-md-10 offset-md-1">
                <!-- Tab links -->
                <div class="tab">
                        <button class="tablinks active" (mouseover)="openCity($event, 'Bengaluru')" id="defaultOpen">BENGALURU</button>
                        <button class="tablinks" (mouseover)="openCity($event, 'delhi')">NEW DELHI</button>
                        <button class="tablinks" (mouseover)="openCity($event, 'isle')">ISLE OF MAN</button>
                        <button class="tablinks" (mouseover)="openCity($event, 'london')">LONDON</button>
                </div>

                <!-- Tab content -->
                <div id="Bengaluru" class="tabcontent">
                        <div class="row">
                                <div class="col-sm-8 bor-line">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7779.892134325668!2d77.647932!3d12.84676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa21aa0e23833a988!2sOyeSpace!5e0!3m2!1sen!2sin!4v1570706052235!5m2!1sen!2sin"
                                                width="100%" height="350" frameborder="0" style="border:0;"
                                                allowfullscreen=""></iframe>
                                </div>
                                <div class="col-sm-4 contdetails">
                                        <p>happy@oyespace.com <br>2nd Flr, 2nd Mn Rd, Doddathoguru, Electronics City
                                                Phase 1, Bettadasanapura, Bengaluru, Karnataka 560100</p>
                                </div>
                        </div>
                </div>

                <div id="delhi" class="tabcontent">
                        <div class="row">
                                <div class="col-sm-8 bor-line">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7007.908199652913!2d77.071798!3d28.571141!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8669dd7058ed7847!2sMarketing%20Agency!5e0!3m2!1sen!2seg!4v1570708879351!5m2!1sen!2seg"
                                                width="100%" height="350" frameborder="0" style="border:0;"
                                                allowfullscreen=""></iframe> </div>
                                <div class="col-sm-4 contdetails">
                                        <p>happy@oyespace.com <br>Xanthippe House C-1033a, 3rd Floor, Block C, Sector 7
                                                Dwarka, New Delhi, Delhi 110077</p>
                                </div>
                        </div>
                </div>

                <div id="isle" class="tabcontent">
                        <div class="row">
                                <div class="col-sm-8 bor-line">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4673.200955053052!2d-4.486849!3d54.151726!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48638515b195e797%3A0xb787841b3385ef4b!2s56%20Allan%20St%2C%20Douglas%2C%20Isle%20of%20Man%20IM1%203DQ%2C%20Isle%20of%20Man!5e0!3m2!1sen!2seg!4v1570709225346!5m2!1sen!2seg"
                                                width="100%" height="350" frameborder="0" style="border:0;"
                                                allowfullscreen=""></iframe> </div>
                                <div class="col-sm-4 contdetails">
                                        <p>happy@oyespace.com <br>56, Allan Street, Douglas, Isle of Man IM13DN</p>
                                </div>
                        </div>
                </div>
                <div id="london" class="tabcontent">
                        <div class="row">
                                <div class="col-sm-8 bor-line">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4958.921988322784!2d0.08566!3d51.578114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a6a27f13a265%3A0xfb78e838a92d3876!2s58%20Birkbeck%20Rd%2C%20Ilford%20IG2%207LP%2C%20UK!5e0!3m2!1sen!2seg!4v1570708955668!5m2!1sen!2seg"
                                                width="100%" height="350" frameborder="0" style="border:0;"
                                                allowfullscreen=""></iframe> </div>
                                <div class="col-sm-4 contdetails">
                                        <p>happy@oyespace.com <br>58, Birbeck Road, Newbury Park, Ilford IG27LP</p>
                                </div>
                        </div>
                </div>
        </div>
</div>