<div class="container-fluid">
        <div class="container p-40">
            <h2 class="cont-middle orange">Locations</h2>
            <div class="col-md-12"><p class="cont-middle">You can find us at any of our offices in the following cities, we are waiting you to visit us :)</p></div>
        </div>
    </div>
    
    <div class="container">
            <div class="col-sm-12">
                <!-- Tab links -->
                        <div class="tab">
                                <button class="tablinks" (mouseover)="openCity($event, 'Bengaluru')" id="defaultOpen">BENGALURU</button>
                                <button class="tablinks" (mouseover)="openCity($event, 'delhi')">NEW DELHI</button>
                                <button class="tablinks" (mouseover)="openCity($event, 'isle')">ISLE OF MAN</button>
                                <button class="tablinks" (mouseover)="openCity($event, 'london')">LONDON</button>

                            </div>
                            
                    <!-- Tab content -->
                            <div id="Bengaluru" class="tabcontent">
                                <div class="row">
                                    <div class="col-sm-8">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7779.892134325668!2d77.647932!3d12.84676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa21aa0e23833a988!2sOyeSpace!5e0!3m2!1sen!2sin!4v1570706052235!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                    </div>
                                    <div class="col-sm-4 contdetails">
                                            <p>happy@oyespace.com <br>2nd Flr, 2nd Mn Rd, Doddathoguru, Electronics City Phase 1, Bettadasanapura, Bengaluru, Karnataka 560100</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="delhi" class="tabcontent">
                                    <div class="row">
                                            <div class="col-sm-8">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7779.892134325668!2d77.647932!3d12.84676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa21aa0e23833a988!2sOyeSpace!5e0!3m2!1sen!2sin!4v1570706052235!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="col-sm-4 contdetails">
                                                    <p>happy@oyespace.com <br>2nd Flr, 2nd Mn Rd, Doddathoguru, Electronics City Phase 1, Bettadasanapura, Bengaluru, Karnataka 560100</p>
                                            </div>
                                        </div>
                            </div>
                            
                            <div id="isle" class="tabcontent">
                                    <div class="row">
                                            <div class="col-sm-8">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7779.892134325668!2d77.647932!3d12.84676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa21aa0e23833a988!2sOyeSpace!5e0!3m2!1sen!2sin!4v1570706052235!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="col-sm-4 contdetails">
                                                    <p>happy@oyespace.com <br>2nd Flr, 2nd Mn Rd, Doddathoguru, Electronics City Phase 1, Bettadasanapura, Bengaluru, Karnataka 560100</p>
                                            </div>
                                        </div>
                            </div>
                            <div id="london" class="tabcontent">
                                    <div class="row">
                                            <div class="col-sm-8">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7779.892134325668!2d77.647932!3d12.84676!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa21aa0e23833a988!2sOyeSpace!5e0!3m2!1sen!2sin!4v1570706052235!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                                            </div>
                                            <div class="col-sm-4 contdetails">
                                                    <p>happy@oyespace.com <br>2nd Flr, 2nd Mn Rd, Doddathoguru, Electronics City Phase 1, Bettadasanapura, Bengaluru, Karnataka 560100</p>
                                            </div>
                                        </div>
                            </div>
            </div>
    </div>
    
    