<div class="container p-40">
        <h2 class="p-40 orange cont-middle">Our Partners</h2>
            <div class="row team">
                <img src="../../assets/images/partners/amazon.png">
                <img src="../../assets/images/partners/axis.png">
                <img src="../../assets/images/partners/dbs.png">
                <img src="../../assets/images/partners/icici.png">
            </div>
            <div class="row team">
                    <img src="../../assets/images/partners/message91.png">
                    <img src="../../assets/images/partners/microsoft.png">
                    <img src="../../assets/images/partners/nokia.png">
                    <img src="../../assets/images/partners/secugen.png">
                </div>

                <hr>
    </div>