.bg-light 
{
  background-color: #fff !important;
}
.navbar-nav > li{padding: 6px 20px}
.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
.navbar-light .navbar-toggler{border: none}
@media screen and (max-width: 992px) {
.navbar{
       background-color: #f7f6f6 !important;
      }
}
