.bg-light 
{
  background-color: #fff !important;
}
.navbar-nav > li{padding: 6px 20px}
.navbar-expand-lg .navbar-collapse{justify-content: flex-end;}
.navbar-light .navbar-toggler{border: none}
@media screen and (max-width: 992px) {
.navbar{
       background-color: #f7f6f6 !important;
      }
}
@media screen and (max-width: 992px) and (min-width: 250px) 
{
  .logo_space{margin: 10px 0px 0px 0px !important;}

}  
.logo_space{margin: 10px 0px 0px 37px;}
