<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }



  .logo {
    display: inline;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    width: 100%;

  }

  .head-main {
    display: flex;
    flex-wrap: nowrap;
  }

  .flex-container>li {
    list-style: none;
    padding: 20px;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;

  }
</style>

<!-- header start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img style="margin: 10px 0px 0px 37px;" alt="OyeSafe Logo"
      src="assets/images/logo_500x500.png" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> Menu
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">

      <li class="nav-item active"><a class="nav-link" routerLink="products">Products</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="clients">Clients</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="partners">Partners</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="location">Locations</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="aboutus">About Us</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="blogs">Blogs</a></li>


    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
<!-- header end -->




<div class="content" role="main">
  <!-- Footer -->
  <footer>

  </footer>



</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->