<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row testi">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <img class="d-block w-100" src="../../assets/images/testimonials/blog_Sunil_Sir.png" alt="testimonial1">
                </div>
                <div class="col-sm-6">
                  <h4 class="test_title">Sunil More Shivaji Rao</h4>
                  <h5 class="test_designation">CEO, Founder, OyeSpace</h5>
                  <p class="test_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>

                </div>
                <div class="col-sm-2"></div>
              </div>    
          </div>
          <div class="carousel-item">
              <div class="row testi">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                      <img class="d-block w-100" src="../../assets/images/testimonials/blog_Ram_Sir.png" alt="testimonial1">
                  </div>
                  <div class="col-sm-6">
                      <h4 class="test_title">Ramteja Arigela</h4>
                      <h5 class="test_designation">Co Founder, Director</h5>
                      <p class="test_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
                  </div>
                  <div class="col-sm-2"></div>
                </div> 
          </div>
          <div class="carousel-item">
              <div class="row testi">
                <div class="col-sm-2"></div>
                  <div class="col-sm-2">
                      <img class="d-block w-100" src="../../assets/images/testimonials/blog_Sunil_Sir.png" alt="testimonial1">
                  </div>
                  <div class="col-sm-6">
                      <h4 class="test_title">Sunil More Shivaji Rao</h4>
                      <h5 class="test_designation">CEO, Founder, OyeSpace</h5>
                      <p class="test_desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
      
                  </div>
                  <div class="col-sm-2"></div>
                </div> 
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>