.testi{
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.test_title
{
    font-size: 16px !important;
    font-weight: 900;
}
.test_designation
{
    font-size: 15px !important;
    font-weight: 900;
}
.test_desc
{
    font-size: 18px !important;
    font-weight: 300;
}
@media screen and (max-width: 560px) and (min-width: 240px) {
    .w-100
    {   
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
    .test_title,.test_designation,.blue{text-align: center !important}
    .test_desc{text-align: center !important;padding-top: 20px}

  }

